.imageGallery {
    display: grid;
    max-width: calc(100vw - 48px);
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.ballTriangle {
    height:100;
    width: 100;
    radius: 5;
    color:#4b5cdd;
    ariaLabel: 'ball-triangle-loading';
    wrapperClass:'{}';
    wrapperStyle:"";
    visible: true;
}